.footer {
    position: absolute;
    background-color: #292b2c;
    padding: 2% 0 .5% 0;
    bottom: 0;
    width: 100%;
}

.icons {
    font-size: 30px;
    float: right;
    margin: -1% 2% 0 0;
    text-align: center;
    width: 29%;
}

.icons ul {
    list-style: none;
    width: 100%;
}

.icons ul li {
    cursor: pointer;
    float: left;
    margin: 0 3% 0 3%;
}

.icons ul li a {
    color: #fff;
    text-decoration: none;
}