.view {
    margin-top: 10%;
}
.login-title {
    text-align: center;
    margin: 15% auto 0;
    font-family: 'Open Sans', sans-serif;
}
form {
   margin: 2% auto;
   width: 70%;
}
p {
    text-align: center;
}