.view {
    margin-top: 7%;
}
.jumbotron {
    border-radius: 10px;
    margin: 0 auto 5%;
    text-align: center;
    width: 85%;
}

img {
    animation-delay: 1s;
}

p {
    animation-delay: 1.9s;
}

.tutor {
    animation-delay: 2.8s;
}
.learner {
    animation-delay: 3.3s;
}

.redirect {
margin: 0 auto;
}

form {
margin: 4% auto;
width: 85%;
animation-delay: .5s;
}

form label {
    font-weight: bold;
}
