<div class="container main-container jumb">
    <div class="jumbotron">
        <h1 class="display-3">{{tittle}}</h1>
        <p class="lead">Welcome, here you can see and know your tutor through a brief description about him and what he does. You can also create a new binnacle.</p>
        <img class="image animated fadeIn delay" width="30%" src="../../img/learner/obiwan.png" alt="Obiwan">
        <p><a class="btn btn-lg btn-success" href="#" role="button">Create a new binnacle</a></p>
    </div>
</div>

<hr class="featurette-divider">

<div class="content">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">{{tutor}}<br> <span class="text-muted">{{position}}</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <div class="col-md-5">
            <img class="image" width="400px" src="../../img/learner/card.png" alt="Card">
        </div>
    </div>
</div>