<div class="container main-container jumb">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading text-style">Create a New Binnacle</h1>
            <p class="lead text-muted">Hello, here you can generate the report of your apprentice Binnacle.</p>
        </div>
    </section>
</div>

<div class="container main-container">
   
   <form>

<!--///////////////////////////////////// Section 1 ////////////////////////////////////////////////////-->

   <h5>Apprentice data</h5>

        <div class="sect">

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Date:</label>
                        <input type="date" class="form-control" id="date">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>City:</label>
                        <input type="text" class="form-control" id="city">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Center:</label>
                        <input type="text" class="form-control" id="center">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>ID Type:</label>
                        <select type="text" class="form-control" id="idType">
                            <option>...</option>
                            <option value="ti">T.I</option>
                            <option value="cc">C.C</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Number:</label>
                        <input type="text" class="form-control" id="number">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label>Program:</label>
                        <input type="text" class="form-control" id="program">
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <label>Group Card:</label>
                        <input type="text" class="form-control" id="card">
                    </div>
                </div>
            </div>

        </div>

<!--///////////////////////////////////// Section 2 ////////////////////////////////////////////////////-->

    <h5>Sponsoring company data</h5>

        <div class="sect">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" id="nameCompany">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nit:</label>
                        <input type="text" class="form-control" id="nit">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>City:</label>
                        <input type="text" class="form-control" id="cityCompany">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Address:</label>
                        <input type="text" class="form-control" id="address">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Phone:</label>
                        <input type="text" class="form-control" id="phoneCompany">
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Name of immediate boss:</label>
                        <input type="text" class="form-control" id="nameBoss">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Position:</label>
                        <input type="text" class="form-control" id="positionBoss">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Phone:</label>
                        <input type="text" class="form-control" id="phoneBoss">
                    </div>
                </div>
            </div>

        </div>

<!--///////////////////////////////////// Section 3 ////////////////////////////////////////////////////-->

    <h5>Tracing</h5>

    <div class="sect">

        <div class="col-md-12">
            <div class="form-group">
            <label>Describe the activities performed:</label>
            <textarea type="text" class="form-control" id="activities"></textarea>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
            <label>Taking into account the activities developed, what learning outcomes are applying:</label>
            <textarea type="text" class="form-control" id="competencies"></textarea>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
            <label>Relate competencies different from those established in your program that you have acquired:</label>
            <textarea type="text" class="form-control" id="acquired"></textarea>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
            <label>Observations:</label>
            <textarea type="text" class="form-control" id="observations"></textarea>
            </div>
        </div>

    </div>

    <br><br>

<!--///////////////////////////////////// Section 4 ////////////////////////////////////////////////////-->

<div class="row">
       <div class="col-md-6">
           <div class="firm">
                <hr color="black">
                <p class="text-center">Firma</p>
           </div>
            <label>Seguimiento realizado por:</label>
            <input type="text" class="form-control" id="instructor">
       </div>

       <div class="col-md-6">
            <label>Reported period:</label>
            <div class="input-group">
                <span class="input-group-addon">Del</span>
                <input id="dateStart" type="text" class="form-control">
                <span class="input-group-addon">Al</span>
                <input id="dateEnd" type="text" class="form-control">
            </div>
            <p class="text-center">(el periodo debe ser quincenal durante toda la etapa productiva)</p>

            <div class="firm">
                <hr color="black">
                <p class="text-center">Vo. Bo. Jefe Inmediato</p>
            </div>
       </div>
   </div>
        
   </form>

</div>