<div class="container main-container jumb animated bounceIn">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading text-style">Create a New Binnacle</h1>
            <p class="lead text-muted">Hello, here you can generate the report of your apprentice Binnacle.</p>
        </div>
    </section>
</div>

<div class="container main-container form">
   
   <form>

<!--///////////////////////////////////// Section 1 ////////////////////////////////////////////////////-->

   <h5>Apprentice data</h5>

        <div class="sect">

            <div class="row">
                <div class="col-md-3">
                    <label>Date:</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                                name="dp" [(ngModel)]="modelDay" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-addon" (click)="d.toggle()" >
                            <img src="../../img/learner/icon-calendar.png" style="width: 1rem; height: 1rem; cursor: pointer;"/>
                        </div>
                    </div>
                </div>
                <pre>{{ modelDay | json }}</pre>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>City:</label>
                        <input type="text" class="form-control" id="city" 
                        ngbPopover="Name of the city where the apprentice training center is located." 
                        popoverTitle="Training center"
                        triggers="mouseenter:mouseleave">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Center:</label>
                        <input type="text" class="form-control" id="center"
                        ngbPopover="Name of the apprentice training center." 
                        popoverTitle="Training center"
                        triggers="mouseenter:mouseleave">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" id="name"
                        ngbPopover="Name of the apprentice." 
                        popoverTitle="Apprentice"
                        triggers="mouseenter:mouseleave">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>ID Type:</label>
                        <select type="text" class="form-control" id="idType">
                            <option>...</option>
                            <option value="ti">T.I</option>
                            <option value="cc">C.C</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Number:</label>
                        <input type="text" class="form-control" id="document" name="document" required pattern="^[0-9]*$"
                        [(ngModel)]="numDocument" #document="ngModel"
                        ngbPopover="Apprentice document number." 
                        popoverTitle="Apprentice"
                        triggers="mouseenter:mouseleave">
                        <!-- VALIDATIONS -->
                        <div *ngIf="document.errors && (document.dirty || document.touched)" class="alert alert-danger">
                            <div [hidden]="!document.errors.required">
                                * Document number is required
                            </div>
                            <div [hidden]="!document.errors.pattern">
                                * Only can write 0 - 9 numbers
                            </div>
                        </div>
                        <!-- END VALIDATIONS -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label>Program:</label>
                        <input type="text" class="form-control" id="program"
                        ngbPopover="Name of the apprentice training program." 
                        popoverTitle="Apprentice"
                        triggers="mouseenter:mouseleave">
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <label>Group Card:</label>
                        <input type="text" class="form-control" id="card" name="card" minlength="6" required pattern="^[0-9]*$"
                        [(ngModel)]="groupCard" #card="ngModel"
                        ngbPopover="Training program card number." 
                        popoverTitle="Apprentice"
                        triggers="mouseenter:mouseleave">
                        <!-- VALIDATIONS -->
                        <div *ngIf="card.errors && (card.dirty || card.touched)" class="alert alert-danger">
                            <div [hidden]="!card.errors.required">
                                * Card is required
                            </div>
                             <div [hidden]="!card.errors.minlength">
                                * Card must be at least 6 characters long.
                            </div>
                            <div [hidden]="!card.errors.pattern">
                                * Only can write 0 - 9 numbers
                            </div>
                        </div>
                        <!-- END VALIDATIONS -->
                    </div>
                </div>
            </div>

        </div>

<!--///////////////////////////////////// Section 2 ////////////////////////////////////////////////////-->

    <h5>Sponsoring company data</h5>

        <div class="sect">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" id="nameCompany" name="nameCompany" readonly
                        [(ngModel)]="company.name" #nameCompany="ngModel">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nit:</label>
                        <input type="text" class="form-control" id="nit" name="nit" readonly
                        [(ngModel)]="company.nit" #nit="ngModel">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>City:</label>
                        <input type="text" class="form-control" id="cityCompany" name="cityCompany" readonly
                        [(ngModel)]="company.city" #cityCompany="ngModel">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Address:</label>
                        <input type="text" class="form-control" id="address" name="address" readonly
                        [(ngModel)]="company.address" #address="ngModel">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Phone:</label>
                        <input type="text" class="form-control" id="phoneCompany" name="phoneCompany" readonly
                        [(ngModel)]="company.phone" #phoneCompany="ngModel">
               Company     </div>
                </div>

                <div class="col-5">
                    <div class="form-group">
                        <label>Email:</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="email" name="email" readonly
                            [(ngModel)]="tutor.email" #email="ngModel">
                            <span class="input-group-addon">@globant.com</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Name of immediate :</label>
                        <input type="text" class="form-control" id="nameTutor" name="nameTutor" readonly
                        [(ngModel)]="tutor.name" #nameTutor="ngModel">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Position:</label>
                        <input type="text" class="form-control" id="position" name="position" readonly
                        [(ngModel)]="tutor.position" #position="ngModel">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Phone:</label>
                        <input type="text" class="form-control" id="phone" name="phone" readonly
                        [(ngModel)]="tutor.phone" #phone="ngModel">
                    </div>
                </div>
            </div>

        </div>

<!--///////////////////////////////////// Section 3 ////////////////////////////////////////////////////-->

    <h5>Tracing</h5>

    <div class="sect">

        <div class="col-md-12">
            <div class="form-group">
            <label>Describe the activities performed:</label>
            <textarea type="text" class="form-control" id="activities"></textarea>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
            <label>Taking into account the activities developed, what learning outcomes are applying:</label>
            <textarea type="text" class="form-control" id="competencies"></textarea>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
            <label>Relate competencies different from those established in your program that you have acquired:</label>
            <textarea type="text" class="form-control" id="acquired"></textarea>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
            <label>Observations:</label>
            <textarea type="text" class="form-control" id="observations"></textarea>
            </div>
        </div>

    </div>

    <br><br>

<!--///////////////////////////////////// Section 4 ////////////////////////////////////////////////////-->

<div class="row">
       <div class="col-md-6">
           <div class="firm">
                <hr color="black">
                <p class="text-center">Firm</p>
           </div>
            <label>Followed by:</label>
            <input type="text" class="form-control" id="instructor">
       </div>

       <div class="col-md-6">
            <label>Reported period:</label>
            
            <div class="row">
                <div class="input-group col-md-6">
                    <span class="input-group-addon">Of the</span>
                    <input class="form-control" placeholder="yyyy-mm-dd"
                            name="dp2" [(ngModel)]="modelInit" ngbDatepicker #d2="ngbDatepicker">
                    <div class="input-group-addon" (click)="d2.toggle()" >
                        <img src="../../img/learner/icon-calendar.png" style="width: 1rem; height: 1rem; cursor: pointer;"/>
                    </div>
                </div>
                <pre>{{ modelInit | json }}</pre>

                <div class="input-group col-md-6">
                    <span class="input-group-addon">To the</span>
                    <input class="form-control" placeholder="yyyy-mm-dd"
                            name="dp3" [(ngModel)]="modelEnd" ngbDatepicker #d3="ngbDatepicker">
                    <div class="input-group-addon" (click)="d3.toggle()" >
                        <img src="../../img/learner/icon-calendar.png" style="width: 1rem; height: 1rem; cursor: pointer;"/>
                    </div>
                </div>
                <pre>{{ modelEnd | json }}</pre>
            </div>

            <p class="text-center">(The period must be fortnightly throughout the productive period)</p>

            <div class="firm">
                <hr color="black">
                <p class="text-center">Vo. Bo. Immediate Boss</p>
            </div>

       </div>
   </div>

   <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
        
   </form>

</div>