<div class="container main-container jumb animated bounceIn">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading text-style">Profile Manager</h1>
            <p class="lead text-muted">Hello, here you can modify and update your basic personal information.</p>
        </div>
    </section>
</div>

<div class="container main-container form">

  <form class="text-style" #myForm="ngForm">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Name:</label>
          <input type="text" class="form-control" id="name" name="name" readonly
          [(ngModel)]="learner.name" #name="ngModel">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Last Name:</label>
          <input type="text" class="form-control" id="lastname" name="lastName" readonly
          [(ngModel)]="learner.lastName" #lastName="ngModel">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label>Email:</label>
          <div class="input-group">
            <input type="email" class="form-control" id="email" name="email"
            [(ngModel)]="learner.email" #email="ngModel" required minlength="6" maxlength="24">
            <span class="input-group-addon">@globant.com</span>
          </div>
          <!-- VALIDATIONS -->
          <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
            <div [hidden]="!email.errors.required">
              * Email is required
            </div>
            <div [hidden]="!email.errors.minlength">
              * Email must be at least 6 characters long.
            </div>
          </div>
          <!-- END VALIDATIONS -->
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group" *ngIf="isLearner">
          <label>Regional:</label>
          <input type="text" class="form-control" id="regional" name="regional" readonly
          [(ngModel)]="learner.regional" #regional="ngModel">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group" *ngIf="isLearner">
          <label>City:</label>
          <input type="text" class="form-control" id="city" name="city" readonly
          [(ngModel)]="learner.city" #city="ngModel">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group" *ngIf="isLearner">
          <label>Program:</label>
          <input type="text" class="form-control" id="program" name="program" readonly
          [(ngModel)]="learner.program" #program="ngModel">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group" *ngIf="isLearner">
          <label>Group Card:</label>
          <input type="number" class="form-control" id="card" name="card" readonly
          [(ngModel)]="learner.card" #card="ngModel">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group" *ngIf="isLearner">
          <label>Training Center:</label>
          <input type="text" class="form-control" id="center" name="center" readonly
          [(ngModel)]="learner.center" #center="ngModel">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group" *ngIf="isTutor">
          <label>Position:</label>
          <input type="text" class="form-control" id="position">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group" *ngIf="isTutor">
          <label>Studio:</label>
          <input type="text" class="form-control" id="studio">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Phone:</label>
          <input type="text" class="form-control" id="phone" name="phone"
          [(ngModel)]="learner.phone" #phone="ngModel" minlength="6" maxlength="10" pattern="^[0-9]*$" required>
          <!-- VALIDATIONS -->
          <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger">
            <div [hidden]="!phone.errors.required">
              * Phone is required
            </div>
            <div [hidden]="!phone.errors.minlength">
              * Phone must be at least 6 characters long.
            </div>
            <div [hidden]="!phone.errors.pattern">
              * Only can write 0 - 9 numbers
            </div>
          </div>
          <!-- END VALIDATIONS -->
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="form-group">
          <label>New Password:</label>
          <input type="password" class="form-control" id="password" name="password"
          [(ngModel)]="newPassword" #password="ngModel" (keyup)="onChangePassword()" minlength="8">

          <!--Validations-->
            <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger" >
              <div [hidden]="!password.errors.minlength">
                * Password must be at least 8 characters long.
              </div>
            </div>
          <!--End Validation-->

        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Confirm Password:</label>
          <input type="password" class="form-control" id="conPassword" name="conPassword"
          [disabled]="newPassword == '' || password.errors" required
          [(ngModel)]="confPassword" #conPassword="ngModel">

          <!--Validations-->
            <div *ngIf="newPassword != '' && !password.errors && newPassword != confPassword" class="alert alert-danger">                            
              * Password don't match'
            </div>
          <!--End Validation-->

        </div>
      </div>
    </div>

    <div class="form-group buttons">
        <button type="submit" class="btn btn-primary" role="button"
        [disabled]="changePassword || !myForm.form.valid">Update Profile</button>
        <button class="btn btn-danger" (click)="cancel()" role="button">Cancel</button>
    </div>

  </form>
</div>