<div class="container main-container jumb">
    <div class="jumbotron">
        <h1 class="display-3">{{tittle}}</h1>
        <p class="lead">Hello again Tutor, welcome back for EvaluApp. ¿Are you here only for other evaluation?, good, let's a lesson!</p>
        <img width="30%" src="../../img/tutor/luke.png" alt="Luke">
        <p><a class="btn btn-lg btn-success" href="/newEvaluation" role="button">Create a new evaluation</a></p>
    </div>
    <hr class="featurette-divider">

    <div class="learners jumbotron">
        <h1 class="display-4">Learners in:</h1>
        <br>
        <h1 class="display-1 learners-num">{{learners}}</h1>
    </div>
    <div class="learners">
        <img id="trooper" class="trooper" src="../../img/tutor/trooper.png" alt="Trooper" 
        placement="right"
        ngbPopover="{{popOver}}" popoverTitle="They are your trooper"
        triggers="load">
    </div>
</div>