<div class="container main-container jumb">

    <div class="jumbotron">
        <h1 class="display-4">{{tittle}}</h1>
    </div>

    <form *ngIf='form'>
        <div class="container-2">
            <div class="row">
                <div class="col-5">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" readonly name="name"
                        [(ngModel)]="tutor.name" #name="ngModel">
                    </div>
                </div>
                <div class="col-5">
                    <div class="form-group">
                        <label for="lastname">Lastname:</label>
                        <input type="text" class="form-control" id="lastname" readonly name="lastName"
                        [(ngModel)]="tutor.lastName" #lastName="ngModel">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-5">
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="email" required name="email"
                            [(ngModel)]="tutor.email" #email="ngModel">
                            <span class="input-group-addon" id="basic-addon2">@globant.com</span>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="form-group" *ngIf="isTutor">
                        <label for="position">Position:</label>
                        <input type="text" class="form-control" id="position" required name="position"
                        [(ngModel)]="tutor.position" #position="ngModel">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-5">
                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input type="text" class="form-control" id="phone" required name="phone"
                        [(ngModel)]="tutor.phone" #phone="ngModel">
                    </div>
                </div>
                <div class="col-5">
                    <div class="form-group">
                        <label for="studio">Studio:</label>
                        <input type="text" class="form-control" id="studio" required name="studio"
                        [(ngModel)]="tutor.studio" #studio="ngModel">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-5">
                    <div class="form-group">
                        <label for="password">New Password:</label>
                        <input type="password" class="form-control" id="password" required name="password" >
                    </div>
                </div>
                <div class="col-5">
                    <div class="form-group">
                        <label for="conf-password">Confirm new password:</label>
                        <input type="password" class="form-control" id="conf-password" required name="confirm" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" role="button">Save</button>
            </div>
        </div>
    </form>
</div>