.jumb {
    margin-top: 7%;
    text-align: center;
    width: 70%;
}

.content {
    margin: 0 auto 10% auto;
    width: 80%;
}

.text-muted {
  font-size: 40px;
}

.image {
  border-radius: 20px; 
  margin: 1% 7% 5% 0;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  margin: 0 0 1.5rem 0;
  text-align: center;
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}