.jumb {
    text-align: center;
    width: 70%;
}

.content {
    margin: 0 auto 10% auto;
    width: 80%;
}

.image {
    background-color: #ccc;
    border-radius: 20px;
    height: 350px;
    margin: 5% 0 0 0;
    width: 350px;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  margin: 0 0 1.5rem 0;
  text-align: center;
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}