.form {
    margin: 7% auto;
    width: 40%;
}

.text-style {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.form label {
    font-size: 18px;
}

.form h1 {
    margin: 7% 0;
    text-align: center;
}

.form button {
    float: right;
}