.form {
    margin: 4% auto 10% auto;
    width: 70%;
}
  /*
.text-style {
    font-weight: 450;
    line-height: 1;
    letter-spacing: -.05rem;
    margin: 0 0 2% 0;
}*/

.jumbotron {
    border-radius: 50%;
}

.jumb {
    padding-top: 2%;
    width: 55%;
}
/*
.form label {
    font-size: 18px;
}*/

.form h1 {
    margin: 7% 0;
}

.buttons {
    float: right;
}