<footer>
    <div class="container">
        <span class="text">Evalu<strong>App</strong></span>

        <div class="icons">
            <ul>
                <li><a href="https://github.com/kamiloc/EvaluApp/" target="_blank"><span class="icon-github"></span></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><span class="icon-facebook2"></span></a></li>
                <li><a href="https://twitter.com/" target="_blank"><span class="icon-twitter"></span></a></li>
                <li><a href="https://plus.google.com/" target="_blank"><span class="icon-google-plus"></span></a></li>
            </ul>
        </div>
    </div>
</footer>