<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse" *ngIf="hidden">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="icon-nav">
        
      </div>
      
      <a class="navbar-brand" href="{{elements.home}}">EvaluApp</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{elements.home}}">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" *ngIf="isTutor">
            <a class="nav-link" href="/newEvaluation">{{elements.firstView}}</a>
          </li>
          <li class="nav-item" *ngIf="isTutor">
            <a class="nav-link" href="/viewLearners">{{elements.secondView}}</a>
          </li>
          <li class="nav-item" *ngIf="isTutor">
            <a class="nav-link" href="/profileTutor">{{elements.thirdView}}</a>
          </li>
          <li class="nav-item" *ngIf="isLearner">
            <a class="nav-link" href="/newBinnacle">{{elements.fourthView}}</a>
          </li>
          <li class="nav-item" *ngIf="isLearner">
            <a class="nav-link" href="/profileLearner">{{elements.fivethView}}</a>
          </li>
        </ul>
      </div>
    </nav>