<div class="container view">
    <div class="jumbotron">
      <h1 class="display-3">{{tittle}}</h1>
      <p class="lead animated fadeIn">Please choose which side of the force you want to be and so know how you are going to register</p>
      <img width="25%" src="/app/img/dark.png" alt="Dark" class="animated fadeIn">
      <p class="redirect"><button class="btn btn-lg btn-success tutor animated fadeInLeft"  role="button" (click)="changeRoll($event, 'tutor')">Tutor</button>
      <button class="btn btn-lg btn-primary learner animated fadeInRight" role="button" (click)="changeRoll($event, 'learner')">Learner</button></p>
      </div>
  
  <form *ngIf='form' class="animated fadeIn">

    <div class="container">

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="inputEmail3">Name:</label>
            <input type="text" class="form-control" id="name">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="inputPassword3">Lastname:</label>
            <input type="text" class="form-control" id="lastname">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
              <label for="email">E-mail:</label>
              <div class="input-group">
                  <input type="text" class="form-control" id="email" required >
                  <span class="input-group-addon" id="basic-addon2">@globant.com</span>
              </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="inputPassword3">Gender:</label>
            <select type="text" class="form-control" id="gender" value="Gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-6">
          <div class="form-group" *ngIf="isLearner">
            <label for="inputPassword3">Regional:</label>
            <input type="text" class="form-control" id="local">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group" *ngIf="isLearner">
            <label for="inputPassword3">City</label>
            <input type="text" class="form-control" id="city">
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="isLearner">
        <label for="inputPassword3">Training Program:</label>
        <input type="text" class="form-control" id="program">
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group" *ngIf="isLearner">
            <label for="inputPassword3">Group Card:</label>
            <input type="text" class="form-control" id="center">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group" *ngIf="isLearner">
            <label for="inputPassword3">Training Center:</label>
            <input type="number" class="form-control" id="card">
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group" *ngIf="isTutor">
            <label for="inputPassword3">Position:</label>
            <input type="text" class="form-control" id="position">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group" *ngIf="isTutor">
            <label for="inputPassword3">Studio:</label>
            <input type="text" class="form-control" id="studio">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="inputPassword3">Phone:</label>
            <input type="text" class="form-control" id="phone">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="inputPassword3">Password:</label>
            <input type="password" class="form-control" id="password">
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" role="button">Register</button>
      </div>
    </div>
  </form>
</div>