.jumbotron {
    text-align: center;
    padding: 2%;
}

.learners {
    float: left;
    margin: 5%;
    width: 40%;
}

.learners-num {
    background: #123;
    border-radius: 10rem;
    color: #eee;
    margin: 0 25%;
    padding: 3rem;
    width: 50%;
}

.trooper {
    padding-top: 4rem;
    width: 45%;
}