.custom-drop-down {
  font-family: apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  width: 70%;
  margin: 0 15% 0 15%;
}

.custom-drop-down * {
  width: 100%;
}