.custom-drop-down {
  font-family: apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  width: 70%;
  margin: 0 15% 0 15%;
}

.custom-drop-down * {
  width: 100%;
}

.sub-row {
  text-align: center;
  padding: 50% 5% 10% 5%;
}

h5 {
  text-align: center;
  padding: 2rem;
}

.pagination {
  padding-left: 40%;
  width: 100%;
}

.aligned-row {
  margin: 0 1% 0 1%;
  text-align: center;
}
